*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(1.png); */
    background-size: cover;
    background-position: center;
}
.headertext h1{
    font-size: 2.5rem;

}
.pictest{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    font-size: 3.5rem;

}
.secondtext{
    display: flex;
    align-self: center;
    justify-content: center;
    /* margin-top: 50px; */
    font-size: 2rem;

}
.secondtext span{
    color: #982424;
  }

.pic img{
    height: 350px;
    width: 350px;
    /* display: flex; */
    margin-top: 200px;
    border-radius: 50px;
    margin-left: 250px;
    border: 2px solid red;
    box-shadow: #61b752;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Rup{
    font-size: 3rem;
}
.Rup span{
  color: #c34545;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a
{
   color: #fff;
   text-decoration: none;
   font-size: 18px;
   position: relative;
}
nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;
}
.headertext{
    margin-top: 20%;
    /* font-size: 30px; */
    
}
/* .headertext h1{

font-size: 60px;
margin-top: 20px;
} */
.headertext span{
    color: #d03b3b;
}


/* ------about---- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.about-col1 img{
   width: 100%;
   border-radius: 15px;
   margin-left: 25px;
}
.about-col2{
   flex-basis: 50%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tap-titles{
    display: flex;
    margin: 20px 0px 40px;
}
.taplinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.taplinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.taplinks.active-link::after{
    width: 50%;
}
.tapcontains ul li{
list-style: none;
margin: 10px 0;
}
.tapcontains ul li span{
    color: #ff004f;
    font-size: 15px;
    }
    .tapcontains {
        display: none;
       
        }
.tapcontains.activetap{
   display: block;
}


/* -----------projects-------- */
.sub-title2{
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#certifictes{
    padding: 30px 0;

}
.certifictes-list{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      grid-gap:30px ;
      margin-top: 50px;
      margin-left: 25px;
      /* margin-left: 25px;
       */
       margin-right: 25px;
}
.certifictes-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    /* border-right: 10px;
     */
    border-radius: 15px;
    transition: background 0.5s,transform 0.5s;

}
.certifictes-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.certifictes-list div h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.certifictes-list div a{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}
.certifictes-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}


/* -----project----- */


.sub-title3{
    margin-left: 25px;

}
.projectlist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px ;
    margin-top: 50px;

}





.work{
    border-radius:10px ;
    position: relative;
    overflow:  hidden;
    margin-left: 25px;
    margin-right: 25px;
}
.work img
{
    width: 100%;
    /* height: 50; */
    border-radius: 10px;
    display: block;
    transition:  transform 0.5s;

}
.layer{
       width: 100%;
       height: 0;
       background:  linear-gradient(rgba(0,0,0,0.6),#ff004f);
       border-radius: 10px;
       position: absolute;
       left: 0;
       bottom: 0;
       overflow: hidden;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       padding: 0 40px;
       text-align: center;
       font-size: 14px;
      transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btm{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius:  6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;

}
.btm:hover{
    background-color: #ff004f;
}

/* ------------contact-------------- */

.sub-title3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-left{
    /* flex-basis: 35%; */
    margin-left: 25px;
}
.contact-right{
    flex-basis: 60%;
    margin-right: 80px;
}
.contact-left p{
   
}
.contact-left p i{
    color: #ff004f;
    font-size: 25px;

}
.social{
    margin-top: 30px;
}
.social a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social a:hover
{
    color: #ff004f;
    transform: translateY(-5px);
}
.cv.btm{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;


}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font: size 18px; 
    border-radius: 6px;

}
form .cv{
    padding: 14px 60px ;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 600;
    margin-top: 20px;


}
.containsup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.content4{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.content4 p{

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 15rem;

}
.mine{
    font-size: 5rem;
}
.content4 p i{
height: 20px;
width: 20px;
    
}
.content4 p img{
    height: 30px;
    width: 30px;
        
    }
.contain5{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.contain5 p {

    display: flex;
    gap: 5px;
    font-size: 15rem;


}
.contain5 p h3
{
    margin-left: px;
}
.contain5 p img{
    height: 30px;
    width: 30px;
}




.sub-titlecon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright i{
color: #ff004f;
}
.copyright a{
    text-decoration: none;
    color: white;

}
/* ---------------css responsuve-------- */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width:600px)
{
    #header{
        /* background-image: url(secon.png); */
    }
    .headertext{
        margin-top: 100%;
        font-size: 16px;

    }
    .headertext h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col1,.about-col2
    {
        flex-basis: 70%;
    }
    .about-col1
    {
        margin-bottom: 30px;
        margin-left: 10px;
    
    }
    .about-col2 {
        font-size: 14px;
        
    }
    .sub-title{
        margin-left: 20px;

    }
    .about-col2 p{
        margin-left: 20px;
        
    }
    .container3,.container2{
        margin-right: 15px;

    }

    .taplinks{
        font-size: 16px;
        margin-right: 20px;

    }

    .tapcontains{
        margin-left: 20px;
        margin-right: 10px;
    }



   
     
    .contact-left,.contact-right{
        flex-basis: 100%;
        margin-left: 10px;
    }
    .copyright{
        font-size: 14px;
    }





}
#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
  
}